/*font added*/
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*margin*/
* {
  margin: 0;
}

/*body*/
body{
    background-color: #F5F7FF;
}

/*header background*/
.header-bg {
    background-image: url(../assets/Hero-bg.png);
    height: 850px;
}

/*navbar*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title {
    font-size: 34px;
    font-weight: 900;
    margin-top: 0px;
}
nav a {
    text-decoration: none;    
}

/*primary section*/
.primary-color {
    color: #4E47FF;
}
.secondary-color{
    color: #252432;
}
.tertiary-color {
    color: rgba(37, 36, 50, 0.5);
}
.primary-button {
    color: white;
    background-color: #4E47FF;
    border-color: #4E47FF;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    cursor: pointer;
    transition: opacity 0.3s, background-color 0.3s, color 0.3s;
}
.primary-button:hover {
    opacity: 0.8;
}
.primary-button:active {
    background-color: white;
    color: #4E47FF;
}

/*banner*/
.banner {
    margin: 170px 510px;
    text-align: center;
}
.banner-content {
    max-width: 900px;
    max-height: 240px;
}
.banner-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    max-width: 900px;
}

/*main*/
main{
    max-width: 1300px;
    margin: 200px auto;
}

/*action*/
.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action {
    max-width: 520px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 25px;
}
.action-description {
    font-size: 24px;
    margin-bottom: 25px;
}
.action-img {
    max-width: 400px;
    max-height: 330px;
    border-radius: 50px;
}

/*productive section*/
.productive-container {
    background-color: rgba(78, 71, 255, 0.1);
    border: none;
    border-radius: 25px;
    margin-top: 200px;
}
.productive-section-title {
    font-size: 38px;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 40px;
}
.productive-items{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.item-title{
    font-size: 80px;
    font-weight: bold;
}
.item-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/*review section*/
.reviwe-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
}
.review-container{
    display: flex;
    justify-content: space-between;
}
.star {
    margin-bottom: 25px;
}
.review{
    border-radius: 15px;
    background-color: white;
    padding: 50px;
    transition: box-shadow 0.3s;
}
.review:hover{
    box-shadow: 4px 4px 10px 1px #8987a138;
}
.review-title{
    color: #252432;
    font-weight: bold;
    font-size: 20px;
}
.review-description{
    color: #252432;
    font-size: 16px;
    line-height: 40px;
    max-width: 300px;
    margin-bottom: 25px;
}
.review-img {
    border-radius: 50%;
    margin-right: 20px;
}
.review-user{
    display: flex;
}
.review-name {
    color: rgb(117, 117, 117);
    font-weight: bold;
}
.review-date{
    color: rgb(179, 179, 179);
}

/*form*/
.form{
    display: flex;
}
.form-title{
    max-width: 530px;
    font-size: 100px;
    font-weight: bold;
    margin-top: 350px;
}
form{
    margin-top: 200px;
    margin-left: 185px;
}

/*footer section*/
footer {
    background-color: white;
}
.footer-title{
    font-weight: 900;
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
}
.footer-deescription {
    font-size: 16px;
    text-align: center;
    width: 600px;
    margin: 0px auto;
    color: #8987A1;
}
footer ul {
    display: flex;
    text-align: center;
    justify-content: center;
}
footer ul li{
    list-style: none;
    margin-right: 50px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}
footer ul li a{

    text-decoration: none;
    color: #8987A1;
    transition: color 0.3s;
}

footer ul li a:hover{
    color: #4E47FF;
}
/*End*/





